
--link-folder "/Users/irenehouvarda/Library/Application Support/Framer X/yarn-link-folder"
disable-self-update-check true
yarn-path "/private/var/folders/z1/mrmmb_1s7m5_fydhd_w7h_s80000gn/T/AppTranslocation/F2FE0720-4E7A-477C-B8E2-C42F44FD98FD/d/Framer X.app/Contents/Resources/Server/lib/framerYarn.js"
