
--link-folder "/Users/irenehouvarda/Library/Application Support/Framer X/yarn-link-folder"
disable-self-update-check true
yarn-path "/private/var/folders/z1/mrmmb_1s7m5_fydhd_w7h_s80000gn/T/AppTranslocation/BD7B4FB7-D79A-4996-AC07-ECEDDD18505E/d/Framer X.app/Contents/Resources/Server/lib/framerYarn.js"
